.container {
  background-color: #61a0bc;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 14, 14);
  border: 3px solid rgb(202, 228, 7);
  margin-top: 5vh;
  border-radius: 25px;
}

.wrapper {
  width: 100vw;
}
